<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>PODD Prototype CSIRO HRPPC</display-name>
    <listener>
        <listener-class>com.github.podd.prototype.PoddServletContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>passwdfile</param-name>
        <param-value>/csiroconfig/passwd</param-value>
    </context-param>
    <context-param>
        <param-name>aliasfile</param-name>
        <param-value>/csiroconfig/alias.ttl</param-value>
    </context-param>
    <context-param>
        <param-name>sesame-server</param-name>
        <param-value>http://localhost:8080/openrdf-sesame</param-value>
    </context-param>
    <context-param>
        <param-name>sesame-repository-id</param-name>
        <param-value>PODDrepo</param-value>
    </context-param>
    <servlet>
        <servlet-name>PoddServlet</servlet-name>
        <servlet-class>com.github.podd.prototype.PoddServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>LoginServlet</servlet-name>
    	<servlet-class>com.github.podd.prototype.LoginServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>FileReferenceAttachServlet</servlet-name>
    	<description></description>
    	<servlet-class>com.github.podd.prototype.FileReferenceAttachServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PoddServlet</servlet-name>
        <url-pattern>/podd/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LoginServlet</servlet-name>
    	<url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FileReferenceAttachServlet</servlet-name>
    	<url-pattern>/attachref</url-pattern>
    </servlet-mapping>
</web-app>
