<h3 class="underlined_heading">Listing Project Participants</h3>
<br>
<h4>Project Participants</h4>
<p>Project Participants are listed in the Project Participants section. A  description of the project participants can be found in the previous section: <a href="./participants">Adding Project Participants</a>.</p>
<p>Each Project Participant&rsquo;s full name, Institution and email address are  displayed in a read only mode (Figure 11.2.1).</p>
<p class="rtecentre">&nbsp;<img style="width: 546px; height: 251px;" border="1" alt="" src="../images/view project participants.jpg" /></p>
<p class="rteleft"><em>Figure 11.2.1 &ndash; A sample sreen shot of the Project Participants View</em></p>