<h3 class="underlined_heading">Viewing Project Details</h3>
<br>
<h4>Project Details</h4>
<p>The first section in the View Project page is the Project Details  section. The following Read Only fields are displayed (see also Figure  11.2).</p>
<p class="rtecentre">&nbsp;<img style="width: 690px; height: 620px;" alt="" border="1" src="../images/view project details2.jpg" /></p>
<p class="rteleft"><em>Figure 11.2 &ndash; Example screen shot of Project Details in Project View</em></p>
<ul class="stylized">
    <li>Project ID:</li>
    <li>Title: *</li>
    <li>Description: *</li>
    <li>URL:</li>
    <li>Completion Date: (If Project Status is not set to Complete then display &quot;Not Completed&quot;</li>
    <li>Duration: (expected duration, free form text)</li>
    <li>Publication Date: (If not published then display &quot;Not Published&quot;).</li>
    <li>Start Date: *</li>
    <li>Lead Institution: *</li>
    <li>Notes:</li>
    <li>URL:</li>
    <li>Project Status: * Drop down list, select from Current/Inactive/Complete.</li>
    <li>Publication Status: * Drop down list: Published/Not Published.</li>
    <li>Creator:</li>
    <li>Creation Date:</li>
    <li>Last modified by:</li>
    <li>Last modification date</li>
</ul>