<h3 class="underlined_heading">Editing Clipboard</h3>
<br>
<h4>Editing the Clipboard</h4>
<p>The user can edit the <strong>Clipboard</strong> at any time by clicking on the <em>Clipboard</em> link on the main navigation menu. The <strong>Edit Clipboard</strong> view is displayed as follows (see figure 16.3.1).</p>
<p class="rtecentre"><img alt="" style="width: 743px; height: 408px;" border="1" src="${baseUrl}/resources/images/clipboard.jpg" /></p>
<p class="rteleft"><em>Figure 16.3.1 &ndash; The Edit View of the Clipboard</em></p>
<p>The <strong>Edit Clipboard</strong> view is a modified view of the Clipboard with the copied predicates / objects listed in the table with the following fields:</p>
<ul class="stylized">
    <li>A selection box to select the object/predicate for deletion. Multiple objects/predicates can be selected at once.</li>
    <li>An icon representing the PODD type (object, predicate, and file) as displayed in the browser.</li>
    <li>The Title of the object/predicate in the Clipboard. If it is a predicate then the predicate type is displayed followed by (objects:nn) where nn is the number of direct children objects of this predicate.</li>
    <li>The Type of the object. Type will not be displayed for predicates on the Clipboard.</li>
    <li>The Parent of the object/predicate, meaning the title of the parent object (note that predicates will not be displayed, but the actual parent object).</li>
    <li>The Parent Type or object type of the parent object.</li>
</ul>
<p>The user may select individual objects to delete by checking the selection boxes and clicking <strong>Delete Selected</strong> or may delete all objects (despite check boxes) by clicking <strong>Delete All</strong>.</p>