<h3 class="underlined_heading">Creating a Project</h3>
<br>
<h4>Overview</h4>
<p>PODD organizes all data into projects. To record any data or metadata, the first thing is to create a concept project object.</p>
<br>
<h4>Actors</h4>
<ul class="stylized">
    <li>Public users and registered users can&rsquo;t create projects.</li>
    <li>Project Creators may create projects. They will not have any further access over the project unless they define themselves with a project role during project creation. Note the default behaviour of the system is to define the Project Creator with a Project Administration role. This can be edited out.</li>
    <li>Administrators may create and modify projects.</li>
</ul>
<br>
<h4>Creating a Project</h4>
<p>For the authorised users, i.e., the Project Creator and Repository Administrator, there is a <strong>Create Project</strong> button listed on the <strong>Listing Projects </strong>screen. Once the button is hit, the <strong>Create Project</strong> page is displayed.&nbsp;</p>
<p class="rtecentre">&nbsp;<strong><img align="middle" alt="" style="width: 722px; height: 340px;" border="1" src="${baseUrl}/resources/images/createprojectobject.jpg" /></strong></p>
<p class="rteleft"><em>Figure 10.1 &ndash; Screen shot of the <strong>Create Project Object</strong> page in a collapse state</em></p>
<p>Figures 10.1 shows an example screen of the <strong>Create Project Object</strong> Page. It is in an expand state by default. Here it is displayed in a collapse state to save space. There are three sections on the Create Project page:</p>
<ul class="stylized">
    <li><a href="./project_details">the project details section</a></li>
    <li><a href="./participants">the project participants section</a></li>
    <li><a href="./file_attach">the file attachment section</a></li>
</ul>
<p>A collapse/expand icon is listed next to the heading of each section. By clicking this icon, the section is switched bwtween collapsing and expanding state. All the three sections are displayed in expanding status by default when <strong>Create Project Object</strong> screen is initated. They are displayed in a collapsing statue here to reduce the size of the figure. Each section will be shown in an expanding state and discribed in details separately in the sub-sections listed at the bottom of this page.</p>
<p>At the bottom of the page, four buttons are listed for user to take some actions. They are: <a href="./priject_submit">Submit, Reset, Cancel and Reinitialize.</a></p>