<h3 class="underlined_heading">Cloning Predicates via the Browser Pane</h3>
<br>
<h4>Predicates</h4>
<p>Predicates determine the linkage between a parent object (the subject) and  its child object (the object). The predicate is explicit in the PODD domain  model and therefore clearly stated in the <strong>Browser Pane</strong> of a  project hierarchy.</p>
<p>Consequently predicates can be considered as groupings of  objects and by selecting a predicate for the copy operation, the user can  effectively copy all children objects associated with the predicate (shallow  paste) or an entire hierarchy of objects associated with the predicate (deep  paste). When pasting a predicate there is no requirement to select the  relationship, as that is already explicit.</p>
<br>
<h4>Copy Predicates</h4>
<p>The user selects the <em>Browse Project</em> link of the project to be copied  from and expands it to find the predicate that the user wants to copy. See  figure 16.1.1.</p>
<p class="rtecentre"><img border="1" alt="" src="${baseUrl}/resources/images/copypaste01.jpg" /></p>
<p class="rteleft"><em>Figure 16.1.1 &ndash; Locate the predicate to be copied in the Browser Pane.</em></p>
<p>The user clicks on the <em>Copy</em> link next to the predicate. A message  (an alert) will say Predicate copied to the PODD <strong>Clipboard.</strong> The  user can repeat this action to add more predicates (and objects) to the  <strong>Clipboard</strong>.</p>
<br>
<h4>Paste</h4>
<p>After copying all the predicates to the Clipboard, the user then selects the <strong>Browser</strong>  view of the project to be pasted to and clicks on the <em>Paste</em> link next  to the object which they wish to paste the predicate to.</p>
<p>The user is then presented with the <strong>Clipboard</strong> view (See  figure 16.1.2). The Clipboard is opened in a new tab. <a href="http://projects.arcs.org.au/trac/podd/attachment/ticket/33/UC33_CopynPasteClipboard1.png"><img border="0" alt="" src="file:///C:/DOCUME%7E1/wan078/LOCALS%7E1/Temp/msohtml1/01/clip_image004.png" /></a></p>
<p class="rtecentre"><img alt="" style="width: 854px; height: 558px;" border="1" src="${baseUrl}/resources/images/copypaste02.jpg" /></p>
<p class="rteleft"><em>Figure 16.1.2 &ndash; Selecting the predicate to paste from the Clipboard</em></p>
<p>As shown in Figure 16.1.2, the following features are displayed on the Copy  Clipboard:</p>
<ul class="stylized">
    <li>At the top of the <strong>Clipboard</strong> is a section describing the  object or predicate to be pasted to, i.e., the Paste target&rsquo;s title and object  type.</li>
    <li>The <strong>Clipboard</strong> provides a list of all predicates and objects  copied, however only predicates and objects that can be pasted according to the  domain model will display a checkbox that will allow them to be pasted to the  Paste Target.</li>
    <li>As per figure 16.1.2, for each item displayed in the Clipboard the following  information will be presented if available:
    <ul class="stylized-circle">
        <li>A selection box to select the object/predicate for pasting. Multiple  objects/predicates can be selected at once.</li>
        <li>An icon representing the PODD type (object, predicate, file) as displayed in  the browser.</li>
        <li>The Title of the object/predicate in the <strong>Clipboard</strong>. If it  is a predicate then the predicate type is displayed followed by the number of  direct children objects of this predicate.</li>
        <li>The Type of the object. Type will not be displayed for predicates on the  <strong>Clipboard</strong>.</li>
        <li>The Parent of the object/predicate, meaning the title of the parent object.</li>
        <li>The Parent Type or object type of the parent object.</li>
        <li>A Depth drop down box. Options are Shallow (default) or Deep. Depth drop  down boxes will not be displayed for objects or predicates that cannot be  pasted, or for file stream objects since the concept of depth do not apply to  these objects.</li>
        <li>A Relationship drop down box, which displays the predicates available for  joining the copied object to its new parent (the Paste Target). Relationships  will not be displayed for predicates on the <strong>Clipboard</strong>.</li>
    </ul>
    </li>
</ul>
<p>The user selects the predicates or objects to be pasted to the paste target,  the user chooses between a Shallow and Deep copy and chooses the Relationship or  predicate to link the paste target to the <strong>Clipboard</strong> object (if  available).</p>
<p>The user clicks <strong>Paste </strong>(Note there is a  <strong>Paste</strong> button at the top and bottom of the list, for  convenience). The system will paste the objects, meaning it will clone the  objects copied from and link them to the parent object with the specified  predicate.</p>
<p>The <strong>Clipboard</strong> screen will be busy until the paste operation  is complete. When the paste operation is complete, the user will be directed to  a <strong>Copy &amp; Paste Results</strong> screen (see figure 16.1.3).</p>
<p class="rtecentre"><img style="width: 757px; height: 533px;" alt="" border="1" src="${baseUrl}/resources/images/copypaste03.jpg" /></p>
<p class="rteleft"><em>Figure 16.1.3 &ndash; The Copy &amp; Paste Results screen</em></p>
<p>This Copy and Paste screen shows the following information:</p>
<ul class="stylized">
    <li>A summary of the parent object. Note that if a predicate was  pasted to, then  it is the parent object displayed here and not the  predicate.</li>
    <li>A list table of the objects that were in the paste operation and the status  of the paste operation.</li>
    <li>The hierarchy  of the target parent object, expanded to show the immediate  children so  that the user may verify the paste was correct. Objects titles in  the  hierarchy are hyperlinked.</li>
</ul>