<h3 class="underlined_heading">Viewing a Project</h3>
<br>
<h4>Overview</h4>
<p>Users can view projects as determined by their repository role or project specific roles (same as <a href="./project_listing">Listing Projects</a>):&nbsp;</p>
<ul class="stylized">
    <li>Public users can view public access projects.</li>
    <li>Registered users can view public access projects and the projects they are associated with.</li>
    <li>Project Creators view public access projects and the projects they are associated with. They will not      have any view access over the project they created unless they define themselves with a project role during project creation.</li>
    <li>Administrators can view all projects.</li>
</ul>
<br>
<h4>Project View</h4>
<p>The authorised user can access the Project View via the following methods:</p>
<ul class="stylized">
    <li>Creating and submitting a new project (the new project object has been instantiated and validated);</li>
    <li>Clicking the Project Title link on the Listing Projects page;</li>
    <li>Clicking the View link of the project in the Browser Pane.</li>
</ul>
<p class="rtecentre"><img style="width: 699px; height: 374px;" alt="" border="1" src="../images/view project01.jpg" /></p>
<p class="rteleft"><em>Figure 11.1 &ndash; Project View (Project Member) in collapsing state</em></p>
<p>The Project View is displayed in an expanding state by default. Figure 11.1 shows a screen shot of an Registered User's Project  View (Project memebr) in a collapsing state to reduce the picture size.</p>
<p>On the <strong>View Project</strong> page, there are four sections:</p>
<ul class="stylized">
    <li>Project details</li>
    <li>Project anticipants</li>
    <li>File attachment</li>
    <li>Hierarchy</li>
</ul>
<p>Based to the user&rsquo;s repository and project specific role, different action buttons will be displayed at the bottom of the page: Edit Object, Paste, Add Child Object, Delete and Publish Project.</p>
<ul class="stylized">
    <li>An <strong>Edit Object</strong> takes the user to Edit Project Object page. The user can edit the project details, update the project participants, add or delete data items. The same action would be effected by clicking on the edit tab.</li>
    <li>An <strong>Add Child</strong> button would take the user to an Add Child Object page, with the project as the parent.</li>
    <li>A <strong>Paste</strong> button takes the user to the clipboard screen. The user can select objects/predicates to paste to the Project if there are any previously copied objects/predicates      available on the screen.</li>
    <li>A <strong>Delete</strong> button allows the authorised user to delete the project if there is no child object or all child projects have been already deleted.</li>
    <li>A <strong>Publish</strong> Project button is displayed on the View Project Object page only when the Project status has been set to Complete.</li>
</ul>