<h3 class="underlined_heading">Cloning Object via the Browser Pane or Object View</h3>
<br>
<p>PODD Objects can be cloned via either the Browser Pane or Object View.</p>
<br>
<h4>Cloning Objects via the Browser Pane</h4>
<p>Object based copies simply copy a single object to the  Clipboard. However the paste can either be shallow; meaning only the  object is pasted, or deep; meaning all child objects of the object are  pasted as well.</p>
<p>The user selects the browser view of the project to be copied from  and expands it to find the objects that the user wants to copy. See  figure 16.1.1.</p>
<p>The user clicks on the <em>Copy</em> link next to the object. A  message (an alert) will say Object copied to the PODD Clipboard.&nbsp; The user can repeat this action to add more  objects (and predicates) to the <strong>Clipboard</strong> if necessary.</p>
<p>The user then selects the Browser view of the project to be pasted to and clicks on the <em>Paste</em> link next to the object which they wish to paste the object to.</p>
<p>The subsequent actions are as previous section: <a href="./clipboard_add_predicate">Cloning Predicates via the Browser Pane</a>.</p>
<br>
<h4>Cloning Objects via the Object View</h4>
<p>As per Cloning Objects via the Browser Pane, but users can copy   objects to the Clipboard and paste from the Clipboard when they are in   the <strong>View Object</strong> screen.</p>
<p>The option buttons at the bottom of the object view will include <strong>Copy</strong> and <strong>Paste</strong> buttons, as per the user's access to the project.</p>
<p class="rtecentre"><img alt="" style="width: 635px; height: 273px;" border="1" src="../images/copypaste04.jpg" /></p>
<p class="rteleft" ><em>Figure 16.2.1 &ndash; Screen shot of an Object View to show the Copy and Paste button</em></p>
<p>Once the <strong>Paste </strong>button is clicked, the subsequent actions will be the same as Cloning predicates/objects via the Browser Pane.</p>