<h3 class="underlined_heading">Search for Users</h3>
<br>
<p>In the Project Participant section, the headers for each of the input fields actually links to a search dialog.</p>
<p>When the user clicks on any of the project participant input field headings (i.e. Principal Investigator, Project Administrators, etc) on the <strong>Edit Project</strong> screen, a pop up dialog will appear.</p>
<p>The flow for using the dialog is as follows:</p>
<ol class="stylized-decimal">
    <li>The list of PODD users will list all available PODD users as a default.</li>
    <li>The list will filter as the user starts to type in the field.</li>
    <li>The list can be sorted using the Sort By drop down list. The default is First Name, other options are Last Name, Institution, Email Address.</li>
    <li>Check boxes are available next to each entry in the list of users. When the user checks these boxes the  selection list will be updated to include the selected participant. If the boxes are unchecked then the participant would be removed.</li>
    <li>Note that the title of the selection list will depend on the link used to access the dialog. Therefore it could be either Principal Investigator, Project Administrators, Project Members or Project Observers.</li>
    <li>The rule of one Principal Investigator must be adhered to. Only one PI can be selected. The mechanism should be that if a second PI is checked then the first PI is automatically unchecked. An alternative mechanism would be to display an error message.</li>
    <li>When the user is satisfied they click <strong>Submit</strong>.</li>
    <li>The relevant text field in the Project page will be added to (Note: not replaced!).</li>
    <li>The user may click <strong>Cancel</strong> if they wish to abandon the dialog and not update the main page.</li>
</ol>