<h3 class="underlined_heading">Accessing PODD</h3>
<h4>Overview</h4>
<p>There are public users and registered users in the PODD system. Registered users are standard users to the system. They have more privileges to the public users.</p>
<p>A public user can become a registered user by</p>
<ul class="stylized">
	<li>Asking the <a href="${baseUrl}/supportDesk">system administrator</a> to set up an account for them;</li>
	<li>Registering themselves in PODD;</li>
	<li>Using their Institutional Login via the Australian Access Federation.</li>
</ul> 
<p>Once they have an active account with PODD, they will be able to login or logout of the PODD system.</p>
<p>User registration and Login/Logout are discussed in the following sections in details</p>
<ul class="stylized">
    <li><a href="${baseUrl}/help/self_register">Self registration;</a></li>
    <li><a href="${baseUrl}/help/login">PODD login;</a></li>
    <li><a href="${baseUrl}/help/aaf_login">Institutional login;</a></li>
    <li><a href="${baseUrl}/help/logout">Logout.</a></li>
</ul>
