<h3 class="underlined_heading">Persistent URLs</h3>
<br>
<p>This section describes a policy and system process for assigning PURLs to objects that are to be published. It does not include any screen based processes.</p>
<p>Persistent URLS (PURLs) is used to maintain a unique identity for any  object managed by PODD.</p>
<p>ANDS has a subscription to the global Handles infrastructure. For example, an ANDS PURLs <a href="http://hdl.handle.net/102.100.100/abc">http://hdl.handle.net/102.100.100/abc</a>  has a static domain name <a href="http://hdl.handle.net/">http://hdl.handle.net/</a> and a unique handle to the object (i.e. 102.100.100/abc).</p>
<p>The generation and registration of PURLs are managed through tools  provided by ANDS.</p>
<p>PODD includes PURL fields as part of the core metadata elements for any object and will require a web service for object retrieval through a PURL.</p>
<p>* Business Rule: One object equals one Persistent URL. Even though PURLs can be treated as an array, the index elements cannot be resolved in a URL.</p>
<p>You can find probably the best supporting documentation at <a href="http://services.ands.org.au/documentation/pids/pids_text.pdf">&nbsp;http://services.ands.org.au/documentation/pids/pids_text.pdf</a></p>